@attribute [Route($"/{RouteEdit}")]
@attribute [Route($"/{RouteCreate}")]

@{
    string title = Id.HasValue ? Texts.TitleEditStructureGroup : Texts.TitleCreateStructureGroup;
}

<PageTitle>@title</PageTitle>
<h3>@title</h3>
