@page "/StructureGroups"
<h3>StructureGroups</h3>


<div class="mb-3 d-flex justify-content-end ">
    <div class="dropdown">
        <button type="button"
                title="Optionen"
                class="all-unset cursor-pointer"
                id="optionen1"
                data-bs-toggle="dropdown"
                aria-expanded="false">
            <Ellipsis Width="25"/>
        </button>
        <ul class="dropdown-menu" aria-labelledby="optionen1">
            <li>
                <button type="button" class="dropdown-item">Option 1</button>
            </li>
            <li>
                <button type="button" class="dropdown-item">Option 2</button>
            </li>
            <li>
                <button type="button" class="dropdown-item">...</button>
            </li>
        </ul>
    </div>
</div>


@code {

}